{{yield}}

<p class="well">
  {{rental.owner}}'s {{rental.type}} in {{rental.city}}
  {{#if isImageShowing }}
    <p><img src={{rental.image}} alt={{rental.type}} {{action 'imageHide'}}></p>
  {{else}}
    <button class="show-image" {{action 'imageShow'}}>Show Image</button>
  {{/if}}
  <button class="delete-rental" {{action 'delete' rental}}>Delete Rental</button>
</p>
